/*
Syntax error: Invalid CSS after "...ude rounded-top": expected "{", was ";"
        on line 5 of style.scss

1: #navbar{
2:     @include rounded-top;
3: }
4: #footer{
5:     #include rounded-top;
6: }
7: 
8: 
9: @mixin rounded-top{
10:     $side: top;

Backtrace:
style.scss:5
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:926:in `expected'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:872:in `expected'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:867:in `tok!'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:376:in `block'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:371:in `ruleset'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:433:in `declaration_or_ruleset'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:910:in `call'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:910:in `rethrow'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:434:in `declaration_or_ruleset'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:396:in `block_child'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:385:in `block_contents'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:377:in `block'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:371:in `ruleset'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:395:in `block_child'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:388:in `block_contents'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:59:in `stylesheet'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/scss/parser.rb:28:in `parse'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/engine.rb:327:in `_to_tree'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/engine.rb:300:in `_render'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/engine.rb:247:in `render'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:169:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:167:in `each'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:167:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:273:in `watch'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.7/lib/fssm/state/file.rb:19:in `refresh'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/usr/lib/ruby/gems/1.8/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:245:in `watch'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin.rb:111:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin.rb:111:in `method_missing'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/exec.rb:421:in `watch_or_update'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.10/bin/scss:8
/usr/bin/scss:19:in `load'
/usr/bin/scss:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...ude rounded-top\": expected \"{\", was \";\"\A         on line 5 of style.scss\A \A 1: #navbar{\A 2:     @include rounded-top;\A 3: }\A 4: #footer{\A 5:     #include rounded-top;\A 6: }\A 7: \A 8: \A 9: @mixin rounded-top{\A 10:     $side: top;"; }
