#footerGrid{
    border-radius: 3px 3px 3px 3px;
    box-shadow: 5px 5px 5px #888888;
    background: #336679;
}
#header{
    overflow:hidden;
    text-align:center
}
#main
{
   height:400px;
}

#signupForm{
    height: 100%;
}
#footer{
    bottom: 0;
    text-align:center
}
#footerWrapper{
    height:100px;
}
.errorlist{
    float:right;
    color:red;
}
#banner{
    height:100%;
    background-color:gray;
}
#header{
    background-color:white;
}
#loginForm{
    margin-top: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}


#map{
    margin-top:10px;
    box-shadow: 5px 5px 5px #888888;
    height:300px;
}
