.gradient{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	
}
#messageTable td:hover{
    cursor: pointer;
}
#footer{
    background: #336679;
    height:120px;
    bottom: 0;
    text-align:center
}
#header{
    overflow:hidden;
    text-align:center
}
#main
{
   height:400px;
}

#signupForm{
    height: 100%;
}
.errorlist{
    float:right;
    color:red;
}
#banner{
    height:100%;
    background-color:gray;
}
#header{
    background-color:white;
}
#loginForm{
    margin-top: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}
#map{
    margin-top:10px;
    box-shadow: 5px 5px 5px #888888;
    height:300px;
}
