<div class = "navbar">
  <div class = "navbar-inner">
   <div class = "container">
     <a class="brand" href="{% url route.views.index %}"><img src = "/static/img/icon-route.png">routeme</a>
     <ul class = "nav">
        <li><a href = "{% url message.views.inbox %}">Messages</a></li>
        <li><a href = "">Friends</a></li>
        <li><a href = "{% url route.views.searchRoute%}">Search Route</a></li>
        <li><a href = "{% url route.views.createRoute%}">Create Route</a></li>
        <li><a href = "{% url email_app.views.update %}">Profil</a></li>
        <li><a href = "{% url email_app.views.logout%}"><i class="icon-home icon-white"></i>Logout</a></li>
      </ul>
   </div>
  </div>
</div>
