{% extends "base/layout.html" %}


  {% block content %}
    <div class="row">
        <div id="map" class="span8"></div>
        <div class="span4"><div class="alert alert-info">{% include "include/profil.html" %}</div></div>
    </div>
    <div class="row">
        <div class="span8">
	   <div class="alert alert-block">
    		<h4 class="alert-heading">Warning!</h4>
            	First enter start point and end point then click Show Route On Map.        
	   </div>
           <fieldset><legend> Start and End Points</legend>
           <form action="" method="get" class ="form-inline well">
              <label for="where"> Where : </label>
              <input type = "text" id = "where" />
              <label for="to"> To : </label>
              <input type = "text" id = "to" />
              <input type = "button" id = "show" value = "Show Route On Map"/>
           </form>
             </fieldset>
        </div>
    </div>
    <div class="row">
    <div id="formWrapper" class = "span8">
      <fieldset><legend>Route Informations</legend>
      <form action = {% url route.views.createRoute %} method="post" class="well" id="createRouteForm">
      {{ field.errors }}
      <table>
        {{ form.as_table }}
      </table>
      <div class="form-actions">
      <p><input type="submit" class = "btn-success" value="Create" id= "createRouteSubmit"/></p>
      </div>
      </form>
      </fieldset>
    </div>
    </div>


   {% endblock  %}
