{% extends "base/layout.html" %}

{% block content%}
<div class="row"> 
	<div class="span8">
	<div class="tabbable tabs-below">
		<ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#request">Requests</a></li>
		    <li><a data-toggle="tab" href="#myroute">My Routes</a></li>
		    <li><a data-toggle="tab" href="#myrequest">My Request</a></li>
		</ul>
		<div class="tab-content">
		    <div id="request" class="tab-pane active">
			<table class="table" width=100%>	
			{%for request in routeRequest%}
			<tr>
			    <td class="">
				<img src="/static/images/{{ request.person.userprofile.profilePhoto.url}}" style="width:40px;height:40px">
				<span class="label"><a href="#" user="u{{request.person.id}}" class="user"{{request.person.id}} >{{request.person.first_name}} {{request.person.last_name}}</a></span>
    			   	</br><strong>Date: </strong> {{request.route.date}}
				</br><strong>Start Address: </strong> {{request.startadress}}
				</br><strong>Stop Address: </strong> {{request.stopadress}}
				{% ifequal request.status 1 %} 
				<form action="/requestReject/{{request.id}}/" class="pull-right" method="POST">
					    <input type="submit" class="btn-danger " value="Reject">
				</form>
				<form action="/requestConfirm/{{request.id}}/" class="pull-right" method="POST">
					    <input type="submit" class="btn-primary" value="Confirm">
				</form>
				{% endifequal %}
				<form action="/requestReject/{{request.id}}/" method="POST">
					{% ifequal request.status 0 %} 
					    <input type="button" class="btn-success pull-right notClickable" value="Confirmed">
					{% endifequal %}
					{% ifequal request.status 2 %} 
					    <input type="button" class="btn-danger pull-right notClickable" value="Rejected">
					{% endifequal %}
				</form>
			    </td>
			</tr>
			{%endfor%}
			</table>
		    </div>
		    <div id="myroute" class="tab-pane">
		   	<table class="table" width="100%">
			{%if routeInfos %}
			{%for routeInfo in routeInfos %}
			    <div>
			    <tr>
				<td>
				    <span class="label label-success">{{routeInfo.owner.first_name}} {{routeInfo.owner.last_name}}</span>
				</td>
				

			    </tr>
			    </div>
		    	{% endfor %}
			{%endif%}
			</table>
		    </div>

		    <div id="myrequest" class="tab-pane">
			<table class="table" width="100%">
			{%if myRequests %}
			{%for myRequest in myRequests %}
			    <tr>
				<td>
				    <img src="/static/images/{{ myRequest.route.owner.userprofile.profilePhoto.url}}" style="width:40px;height:40px">
				    <span class="label"><a href="#" user="u{{myRequest.route.owner.id}}"class="user" {{myRequest.route.owner.id}}>{{myRequest.route.owner.first_name}} {{myRequest.route.owner.last_name}}</a></span>
				    </br>
				    <strong>Date: </strong>{{myRequest.route.date}}
				    </br>	
				    <strong>Start Address: </strong>{{myRequest.route.start}}
				    </br>
				    <strong>End Address: </strong>{{myRequest.route.end}}
				    </br>
				    <strong>Status: </strong>{%ifequal myRequest.status 0 %}<span class="label label-success">Approved</span>{%endifequal%}
							     {%ifequal myRequest.status 1 %}<span class="label label-warning">Waiting</span>{%endifequal%}
							     {%ifequal myRequest.status 2 %}<span class="label label-inverse">Rejected</span>{%endifequal%}
				</td>
				

			    </tr>
		    	{% endfor %}
			{%endif%}
			</table>
		    </div>
		</div>

	</div>
	</div>
	<div class="span4"><div class="alert alert-info">{% include "include/profil.html" %}</div>
	
</div>

{% endblock %}
