{% extends "base/layout.html" %}

{% block content %}
<div class="row">
	<div id="map" class="span8"></div>
	<div class="span4"><div class="alert alert-info">{% include "include/profil.html" %}</div></div>

</div>
<div id="dialog">
</div>
<div class="row"><div class="span8">
      <fieldset><legend>Results</legend>
        
       {%if routes%}
          <table class = "table table-striped">
            <tr>
		<th>#</th>
		<th>Vehicle</th>
		<th colspan=4>User</th>
            <tr>
            {% for n, r in routes %}
		<tr>
 		    <td>{{ n }}</td>
 		    <td>{{ r.vehicle }}</td>
                    <td><a href="#" user="u{{r.owner.id}}" class="user {{r.owner.id}}">
			{{  r.owner.first_name }} {{ r.owner.last_name}}</a></br>
		    </td>
                    <td><input type="button" onClick="showSelectedRouteOnMap({{r.route.json}},
				'{{r.owner.userprofile.profilePhoto.url}}','{{r.owner.first_name}}','{{r.owner.last_name}}',{{n}})" 
				value="Show Route"></td>
	
    		    <div id="{{n}}" class="modal hide fade">
    		    	<div class="modal-header">
                    	   <a class="close" data-dismiss="modal">×</a>
    		    	   <h2>
				<img src="/static/images/{{ r.owner.userprofile.profilePhoto.url}}" style="width:60px;height:60px">
				{{r.owner.first_name}} {{r.owner.last_name}}
			   </h2>
    		    	</div>
                    	<div class="modal-body">
			   Trip Date {{r.date}}</br>
			   Trip Time {{r.time}}</br></br>
			   Trip Arrival Time {{r.arrivalTime}}</br>
			   {% if  r.baggage  %}
				Baggage <input type="checkbox" disabled checked>	
			   {%else%}			
				Baggage <input type="checkbox"  disabled>	
			   {%endif%}
			   {% if r.pet  %}
				Pet <input type="checkbox" disabled checked>	
			   {%else%}			
				Pet <input type="checkbox"  disabled>	
			   {%endif%}</br>
			   Capacity {{r.capacity}}</br>
			   Vehicle {{r.vehicle}}</br>
			   <form id="requestForm{{n}}" method="POST" action={% url route.views.saveRouteRequest %}>
          			{{form.as_p}}
				
			   </form>
			</div>
    			<div class="modal-footer">
                           <input type="button" onclick="sendRequest('requestForm{{n}}', {{n}})"  class= "btn primary" value ="Send Request" id = "requestButton">
    			</div>

    		    </div>
		    <td><input id="selectPointButton{{n}}" type="button" disabled="disabled" value="Select Point on Route" onClick="selectStartPoint({{r.id}},{{n}})"></td>
				
    		    <td><a href="#{{n}}" data-toggle="modal" class="btn">Go</a></td>
               </tr>
            {% endfor %}
	  </table>
	<script><h1>{{r.owner.profilePhoto.photo}}</h1></script>
       {%else%}
          <script>
    	       alert('No route is found!');
	       window.location = 'searchroute';
         </script>
       {%endif%}
     </fieldset>
</div>

</div>
{% endblock %}
