{% include "include/header.html" %}

{% include "include/navbar.html" %}
<div class="row"><div id="map" class="span7"></div></div>

<div class="row"><div class="span7">
    <form method="POST">
      <fieldset><legend>Results</legend>
        {%if routes%}
            {% for r in routes %}
                <input type="button" onClick="showSelectedRouteOnMap({{r.route.json}})" value="Show Route">
                <a href="returnroute/{{r.id}}">{{  r.owner.first_name }} {{ r.owner.last_name}}</a></br>
            {% endfor %}

	<script><h1>{{r.owner.profilePhoto.photo}}</h1></script>
       {%else%}
          <script>
    	       alert('Route is not found!');
	       window.location = 'searchroute';
         </script>
       {%endif%}
     </fieldset>
    </form>
</div>
</div>

{% include "include/footer.html" %}
