{% include "include/header.html" %}
     
    {% include "include/navbar.html" %}
    <div class="clear">&nbsp;</div>
    <div id="map" class="grid_11"></div>
    <div class = "grid_5" id = "suggestedFriend">
        Suggested Friend
    </div>
    <div class = 'clear'>&nbsp;</div>
    <div class="grid_11">
        <form action={% url route.views.listRoute %} method="POST" id="searchRouteForm">
            <table>
                {{ form.as_table }}
            </table>
        <p><input type = "button" id = "sroute" value = "search" /></p>
        </form>
    </div>


{% include "include/footer.html" %}

