{% include "include/header.html" %}
     
    {% include "include/navbar.html" %}
    <div class="row">
        <div id="map" class="span7"></div>
    </div>
    <div class="row">
       <div class="span7">
           <form action={% url route.views.listRoute %} method="POST" id="searchRouteForm">
              <fieldset><legend>Route Informations</legend>
              <table>
                   {{ form.as_table }}
              </table>
              <div class="form-actions">
              <p><input type = "button" id = "sroute" value = "Search" /></p>
              </div>
              </fieldset>
           </form>
       </div>
    </div>

{% include "include/footer.html" %}

