{% extends "base/layout.html"%}

{% block content %}
    <div class="row">
        <div id="map" class="span8"></div>
        <div class="span4"><div class="alert alert-info">{% include "include/profil.html" %}</div></div>
    </div>
    <div class="row">
       <div class="span8">
              <fieldset><legend>Route Informations</legend>
           <form action={% url route.views.listRoute %} method="POST" id="searchRouteForm" class = "well">
              <table>
                   {{ form.as_table }}
              </table>
              <div class="form-actions">
              <p><input type = "button" class="btn-success" id = "sroute" value = "Search" /></p>
              </div>
           </form>
              </fieldset>
       </div>
    </div>
{% endblock %}

