{% include "include/header.html" %}
    {% include "include/unsignedNavbar.html" %}
    <div class = "row">
        <div class = "span6 offset3" style="text-align:center">
            <form method="POST" action="{% url login-user %}" >
                <fieldset><legend>Login</legend>
		{{form.as_p}}
                <div class = "form-actions">
		    <input type="submit" value = "Login" class = "btn-danger">
                     or 
	            <a href={% url email_app.views.signup %}>SignUp!</a>
	        </div>
		<p class="help-block">Have an account via Foursquare, Facebook, or Twitter? Log in with the buttons below:
		<p>
		    <a href="/foursq_auth/auth/"><img src="/static/images/foursquare-logo.png"></a>
		    <a href="/foursq_auth/auth/"><img src="/static/images/facebook-logo.jpg"></a>
		    <a href="/foursq_auth/auth/"><img src="/static/images/twitter-logo.png"></a>
		</p>
  		</fieldset>
            </form>
        </div>
    </div>


{% include "include/footer.html" %}

