{% include "include/header.html" %}
    <div id = "header" class = "grid_16">
        <div id="loginForm" class = "grid_8 push_4 omega">
            <form method="POST" action="{% url login-user %}" >
		{{form.as_p}}
		<input type="submit" value = "Login" >
		<a href={% url email_app.views.signup %}>SignUp!</a>
		<p>
		    <a href="/foursq_auth/auth/"><img src="/static/images/foursquare-logo.png"></a>
		    <a href="/foursq_auth/auth/"><img src="/static/images/facebook-logo.jpg"></a>
		    <a href="/foursq_auth/auth/"><img src="/static/images/twitter-logo.png"></a>
		</p>
            </form>
        </div>
    </div>


{% include "include/footer.html" %}

