{% extends "base/layout.html" %}

{% block content %}
<div class="row">
  <div class="span8">
  </br></br></br>
  <div class="row">
      <div class="span1 offset1"> <img src="/static/images/{{ ouser.userprofile.profilePhoto.url}}" style="width:60px;height:60px"></div>
      <div class="span3"><h2>{{ouser.first_name}} {{user.last_name}}</h2></div>
      <div class="span2 offset1">
	{%ifequal status 1 %}
		<span class="label label-warning">Waiting</span>
	{% endifequal %}
	{% ifequal status 2 %}
		<span class="label label-success">Friends</span>
	{%endifequal%}
	{%ifequal status 3 %}
	        <input type="button" class="btn-primary friendShipRequest" onclick="friendshipRequest({{ouser.id}})" value="Add Friend"/>	
	{%endifequal%}
      </div>
  </div>
  <div class="row">
	<div class="span6 offset1">
	
	   <table>
               <tr>
                   <td><strong>Username  </strong></td><td>:{{ouser.username}}</td>
	       </tr>
	       <tr>
		   <td><strong>Email </strong></td><td>:{{ouser.email}}</td>
	       </tr>
	       <tr>
              	   <td><strong>Birth Date </strong></td><td>:{{ouser.userprofile.birthdate}}</td>
	       </tr>
               <tr>
                   <td><strong>Gender </strong></td><td>:{{ouser.userprofile.gender}}</td>
	
               </tr>
               <tr>
               	   <td><hr></td>
               </tr>
           </table>






	</div>

  </div>
  </br></br></br>

  <div class="row">
      <div class="span4 offset1">
	{%if routes%}
	<fieldset><legend><h2><strong>Routes</strong></h2></legend></fieldset>
	    <table>
	    {%for routeInfo in routes %}
                  <tr><td><strong>Date </strong>:{{routeInfo.date}}</td></tr>
                  <tr><td><strong>Start Address </strong>:{{routeInfo.start}}</td></tr>
                  <tr><td><strong>End Address </strong>:{{routeInfo.end}}</td></tr>

		<tr>
			<td><hr></td>
                </tr>
        
	    {% endfor %}
	
            </table>
        {%else%}	
		<span class="label label-warning">Don't Have any Route</span>
	{%endif%}
      </div>
  </div>

</div>
  <div class="span4">
	<div>{% include "include/profil.html" %}</div>
  </div>

</div>
{% endblock %}

