{% include "include/header.html" %}
        
    {% include "include/unsignedNavbar.html" %}
    <div class = "row"  role="main">
      <center>
        <div class = "span6 offset3">
        <form enctype="multipart/form-data" action={% url email_app.views.signup %} method="post" id="signupForm" >
          <fieldset><legend>Sign Up</legend>
          <table>
            {{ form.as_table }}
          </table>
          <div class = "form-actions">
              <p><input type="submit" value="Join!" class="btn-success"/></p>
	  </div>
          </fieldset>
        </form>
        <div>
      </center>
    </div>
{% include "include/footer.html" %}

