{% extends "base/layout.html" %}
{% block navigation %}
    {% include "include/unsignedNavbar.html"%}
{%endblock%}
{% block content %}
    <div class = "row"  role="main">
      <center>
        <div class = "span6 offset3">
        <form enctype="multipart/form-data" action={% url save-user %} method="post" id="signupForm" class="well" >
          <fieldset><legend>Sign Up</legend>
          <table>
            {{ form.as_table }}
          </table>
          <div class = "form-actions">
              <p><input type="submit" value="Join!" class="btn-success"/></p>
	  </div>
          </fieldset>
        </form>
        <div>
      </center>
    </div>
{% endblock %}

