{% extends "base/layout.html" %}

{% block content %}
<div class="row">
  <div class="span8">

     <form method="POST" enctype="multipart/form-data" action={% url update-user %} class = "well">
        <fieldset><legend>Profile</legend> 
        {{ form.errors }}
        <table>
		<img border="0" src="{{STATIC_URL}}/static/images/{{img}}"/>
                {{ form.as_table }}
        </table>
        <div class="form-actions">
	    <p><input class = "btn-success" type="submit" value="Save" /></p>
        </div>
        </fieldset>
     </form>
  </div>
      <div class="span4">
          <div class="alert alert-info">{% include "include/profil.html" %}</div>
          <div id="import">
	  </div>
      </div>
      
</div>


{% endblock %}
