{% include "include/header.html" %}

{% include "include/navbar.html" %}

<div class="row">
  <div class="span7">

     <form method="POST" enctype="multipart/form-data" action={% url email_app.views.update %} class = "well">
        <fieldset><legend>Profile</legend> 
        {{ form.errors }}
        <table>
		<img border="0" src="{{STATIC_URL}}/static/images/{{img}}"/>
                {{ form.as_table }}
        </table>
        <div class="form-actions">
	    <p><input type="submit" value="Save" /></p>
        </div>
        </fieldset>
     </form>
  </div>
</div>


{% include "include/footer.html" %}
