{% include "include/header.html" %}

    {% include "include/navbar.html" %}

  <div class='clear'>&nbsp;</div>

  <div class="grid_11" id = "mainContent">
    Profile
<form method="POST" action={% url email_app.views.update %}>
	  <table>
            {{ form.as_table }}
          </table>

<p><input type="submit" value="Save" /></p>

</form>
  </div>
  <div class="grid_5" id = "suggestedFriends">
    Suggested Friends
  </div>

  <div class='clear'>&nbsp;</div>

{% include "include/footer.html" %}
