{% include "include/header.html" %}

<div class = "container_16">
  <div class id = "header" class = "grid_16">
    <div id = "banner" class = "grid_3 push_1 alpha">
      BANNER
    </div>
    <div id = "navbar" class = "grid_8 push_5 omega">
      <ul>
        <li><a href = "">Friends</a></li>
        <li><a href = "">Search Route</a></li>
        <li><a href = "">Create Routei</a></li>
        <li><a href = "">Profil</a></li>
      </ul>
    </div>
  </div>
   
  <div class='clear'>&nbsp;</div>

  <div class="grid_11" id = "mainContent">
    Main Content
  </div>
  <div class="grid_5" id = "suggestedFriends">
    Suggested Friends
  </div>

  <div class='clear'>&nbsp;</div>
</div>

{% include "include/footer.html" %}
