{% extends "base/layout.html" %}

{% block content %}
<div class="row">
  <div class="span8">
	<table class="table">
  	    {% for friend in friend_list %}
		<tr>
		    <td><img src="/static/images/{{ friend.profilePhoto.url}}" style="width:40px;height:40px"></td>
		    <td>{{ friend.user.first_name }} {{ friend.user.last_name }} </td>
		    <td></td>
		</tr>
            {% endfor %}
	</table>
  </div>
      <div class="span4">
          <div class="alert alert-info">{% include "include/profil.html" %}</div>
          <div id="import">
	  </div>
      </div>
      
</div>


{% endblock %}
